%Topology{ 'Code' => code, 'Name' => name , 'Description' => description, 'xmlns:xsi' => 'http://www.w3.org/2001/XMLSchema-instance', 'xsi:noNamespaceSchemaLocation' => schema }
  - if block_given?
    - yield
