%Topology{ 'Code' => code, 'Name' => name , 'Description' => description, 'xmlsn:xsi' => 'http://www.w3.org/2001/XMLSchema-instance', 'noNamespaceSchemaLocation' => schema }
  - if block_given?
    - yield
