%accelerator{ 'Code' => code, 'Type' => options[:type] }
  - if options[:mode]
    %acceleratormode= options[:mode]
  - if options[:max_iterations]
    %nummaxiterations= options[:max_iterations]
  %threshold= threshold
